[Unit]
Description=MiniPg Service
After=network.target

[Service]
Type=forking

User=postgres
Group=postgres
WorkingDirectory=/etc/bfm/minipg

# PID dosyasını systemd'ye bildirerek sürecin doğru izlenmesini sağlıyoruz
PIDFile=/etc/bfm/minipg/minipg.pid

# Script çalıştırma tanımları
ExecStart=/etc/bfm/minipg/minipg.sh start
ExecStop=/etc/bfm/minipg/minipg.sh stop
ExecReload=/etc/bfm/minipg/minipg.sh restart

# Uygulama çökerse otomatik olarak yeniden başlatır
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target